.container{
    width: auto;
    margin-top: 50px;
    overflow: hidden;
}
.slide{
    display: inline-block;
}
.slide img{
    object-fit: cover;
}
.slider{
    white-space: nowrap;
    transition: ease 600ms;
}