.container{
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}
.slide{
    display: inline-block;

}
.slide img{
    min-width: 1440px;
    height: 100%;
}
.slider{
    white-space: nowrap;
    transition: ease 800ms;
}